.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}
.header a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 30px;
}
.header a:hover{
    color: orange;
    transition: .5s ease-in-out;
}